
<div style="background-color:#333; color: #ddd" class="jumbotron">
  <h1>Hello there !</h1>
  <p>lorem ipsum</p>
</div>
<p style = 'color: #ddd' >
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
	Hey, welcome to my website! I am a programmer!<br>
</p>


